<div class="row mx-5 py-5 d-flex justify-content-center">
    <div class="col-sm-2 py-4">
        <div class="card">
            <h2 class="card-header">Busqueda General</h2>
            <div class="card-body">
                <a [routerLink]="['/muelles', 'all']" class="btn btn-primary">Ver Mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 py-4" *ngFor="let marca of dataSource">
        <div class="card">
            <h2 class="card-header">{{ marca.marca }}</h2>
            <div class="card-body">
                <a [routerLink]="['/muelles', marca.marca]" class="btn btn-primary">Ver Mas</a>
            </div>
        </div>
    </div>
</div>

