<div>
    <mat-form-field class="inputID">
        <mat-label>ID</mat-label>
        <input matInput> 
    </mat-form-field>
    <button mat-raised-button color="primary" class="btnID">Añadir</button>
</div>

<div class="row mx-5 py-5 d-flex justify-content-center">
    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>


    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-2 py-4">
        <mat-card class="cardCompras">
            <mat-card-header>
                <mat-card-title>RNPLK-18</mat-card-title>
            </mat-card-header>
            <mat-card-content>Maximo: 72.6 (SUJETSA)</mat-card-content>
            <mat-card-content>Minimo: 1.19 (LAMMSA)</mat-card-content>

            <mat-card-header>
                <mat-card-title>Proveedores</mat-card-title>
            </mat-card-header>

            <mat-card-content>Proveedor 1 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 2 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 3 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 4 <mat-radio-button></mat-radio-button></mat-card-content>
            <mat-card-content>Proveedor 5 <mat-radio-button></mat-radio-button></mat-card-content>

            <mat-card-header>
                <mat-card-title>Precios</mat-card-title>
            </mat-card-header>

            <mat-card-content>Publico: $1.50</mat-card-content>
            <mat-card-content>Mayoreo: $0.50</mat-card-content>
            <mat-card-content>Platino: $2.50</mat-card-content>
            <mat-card-content>Comercio: $6.3</mat-card-content>
        </mat-card>
    </div>
</div>

