<mat-card class="cardLogin">
    <mat-card-header>
        <mat-card-title>
            <h2>Agregar Nuevo Producto a Muelles</h2>
        </mat-card-title>
    </mat-card-header>
    
    <mat-form-field>
        <mat-label>RASSINI</mat-label>
        <input matInput [(ngModel)]="RASSINI">
    </mat-form-field>

    <mat-form-field>
        <mat-label>MAF</mat-label>
        <input matInput [(ngModel)]="MAF"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>SANDOVAL</mat-label>
        <input matInput [(ngModel)]="SANDOVAL"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>No.</mat-label>
        <input matInput [(ngModel)]="No"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ancho</mat-label>
        <input matInput [(ngModel)]="Ancho"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Espesor</mat-label>
        <input matInput [(ngModel)]="Espesor"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lado Frontal</mat-label>
        <input matInput [(ngModel)]="Lfrontal"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lado Trasero</mat-label>
        <input matInput [(ngModel)]="Ltrasero"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Posicion</mat-label>
        <mat-select [formControl]="Posicion">
        <mat-option *ngFor="let opcion of posiciones" [value]="opcion">{{ opcion }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="marca"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>INFORMACION</mat-label>
        <input matInput [(ngModel)]="info"/>
    </mat-form-field>
    <button mat-raised-button class="btnLogin" (click)="submit()">Agregar</button>
</mat-card>