<div *ngIf="!add()">
    <mat-card class="cardLogin">
        <mat-card-header>
            <mat-card-title>
                <h2>Agregar Nuevo Producto a Refacciones</h2>
            </mat-card-title>
        </mat-card-header>
    
        <mat-form-field>
            <mat-label>ID Modelo</mat-label>
            <input matInput [(ngModel)]="idModelo">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <textarea matInput [(ngModel)]="Descripcion"></textarea>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Tipo Refaccion</mat-label>
            <mat-select [formControl]="Tipo">
            <mat-option *ngFor="let opcion of tipos" [value]="opcion">{{ opcion }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo Forma</mat-label>
            <input matInput [(ngModel)]="TipoForma"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Unidad</mat-label>
            <input matInput [(ngModel)]="Unidad"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Modelo</mat-label>
            <input matInput [(ngModel)]="Modelo"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Año</mat-label>
            <input matInput [(ngModel)]="Anio"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Posicion</mat-label>
            <mat-select [formControl]="Posicion">
            <mat-option *ngFor="let opcion of posiciones" [value]="opcion">{{ opcion }}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Diametro Interior</mat-label>
            <input matInput [(ngModel)]="DiametroInt"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Diametro Exterior</mat-label>
            <input matInput [(ngModel)]="DiametroExt"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Largo</mat-label>
            <input matInput [(ngModel)]="Largo"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Largo Total</mat-label>
            <input matInput [(ngModel)]="LargoTot"/>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>INFORMACION</mat-label>
            <input matInput [(ngModel)]="info"/>
        </mat-form-field>
        <button mat-raised-button class="btnLogin" (click)="submit()">Agregar</button>
    </mat-card>
</div>

<div *ngIf="add()">
    <div class="containerFIle">
        <form class="formFile">
            <div class="form-group">
                <label for="archivo" class="labelFile">Subir Nuevas Refacciones</label>
                <input type="file" id="archivo" class="inputFile" accept=".xlsx" (change)="seleccionarArchivo($event)" />
            </div>
            <button type="submit" class="btnFile" (click)="subirArchivo($event)">Subir Archivo</button>
        </form>
    </div>
    
    <div class="overlay" *ngIf="mostrarSpinner">
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>