<div class="row mx-5 py-5 d-flex justify-content-center">
    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/semi.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center fw-bolder">Servicio Pesado</h3>
              <a href="/servicioPesado" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
            </div>
          </div>
    </div>

    <div class="col-sm-2 py-4">
      <div class="card mb-3">
          <img src="assets/bolsaaire.png" class="card-img-top py-2" alt="...">
          <div class="card-body">
            <h3 class="card-title d-flex justify-content-center fw-bolder">Bolsas de Aire</h3>
            <a href="/bolsasdeaire" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
          </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
      <div class="card mb-3">
          <img src="assets/carro.png" class="card-img-top py-2" alt="...">
          <div class="card-body">
            <h3 class="card-title d-flex justify-content-center fw-bolder">Servicio Ligero</h3>
            <a href="/servicioLigero" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
          </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
      <div class="card mb-3">
          <img src="assets/muelles.png" class="card-img-top py-2" alt="...">
          <div class="card-body">
            <h3 class="card-title d-flex justify-content-center fw-bolder">Muelles</h3>
            <a href="/menuMuelles" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
          </div>
        </div>
    </div>

    <div class="col-sm-2 py-4" *ngIf="isMaster()">
      <div class="card mb-3">
          <img src="assets/administracion.png" class="card-img-top py-2" alt="...">
          <div class="card-body">
            <h3 class="card-title d-flex justify-content-center fw-bolder">Administrador</h3>
            <a href="/adminMenu" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
          </div>
        </div>
    </div>

  <div class="col-sm-2 py-4">
    <div class="card mb-3">
        <img src="assets/logout.png" class="card-img-top py-2" alt="...">
        <div class="card-body">
          <h3 class="card-title d-flex justify-content-center fw-bolder">Cerrar Sesion</h3>
          <a class="btn btn-primary d-flex justify-content-center" (click)="logout()">Aceptar</a>
        </div>
      </div>
  </div>

</div>