<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-form-field class="mx-2">
      <mat-label>Buscar</mat-label>
      <input matInput [formControl]="Buscar">
    </mat-form-field>
    <br>
    <mat-form-field class="mx-2">
      <mat-label>Armadora</mat-label>
      <mat-select [formControl]="Armadora">
        <mat-option *ngFor="let opcion of armadoras" [value]="opcion">{{ opcion }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="mx-2">
      <mat-label>Posicion</mat-label>
      <mat-select [formControl]="Posicion">
        <mat-option *ngFor="let opcion of posiciones" [value]="opcion">{{ opcion }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button class="btn btnColor mx-2" (click)="borrarFiltro()">Delete Selection</button>
  </mat-drawer>
  <mat-drawer-content>
    <table mat-table [dataSource]="dataSource | positionFilter:(Posicion.value || '') | dataFilter:(Armadora.value || '')" class="mat-elevation-z8">
      
      <!-- <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.ID }}</td>
      </ng-container> -->

      <ng-container matColumnDef="GABRIEL">
        <th mat-header-cell *matHeaderCellDef>GABRIEL</th>
        <td mat-cell *matCellDef="let element">{{ element.GABRIEL }}</td>
      </ng-container>

      <ng-container matColumnDef="MONROE">
        <th mat-header-cell *matHeaderCellDef>MONROE</th>
        <td mat-cell *matCellDef="let element">{{ element.MONROE }}</td>
      </ng-container>

      <ng-container matColumnDef="GRC">
        <th mat-header-cell *matHeaderCellDef>GRC</th>
        <td mat-cell *matCellDef="let element">{{ element.GRC }}</td>
      </ng-container>

      <ng-container matColumnDef="Armadora">
        <th mat-header-cell *matHeaderCellDef>Armadora</th>
        <td mat-cell *matCellDef="let element">{{ element.Armadora }}</td>
      </ng-container>
      
      <ng-container matColumnDef="Posicion">
        <th mat-header-cell *matHeaderCellDef>Posicion</th>
        <td mat-cell *matCellDef="let element">{{ element.Posicion }}</td>
      </ng-container>

      <ng-container matColumnDef="Tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{ element.Tipo }}</td>
      </ng-container>

      <ng-container matColumnDef="LongitudExp">
        <th mat-header-cell *matHeaderCellDef>Longitud Expansion</th>
        <td mat-cell *matCellDef="let element">{{ element.LongitudExp }}</td>
      </ng-container>

      <ng-container matColumnDef="LongitudComp">
        <th mat-header-cell *matHeaderCellDef>Longitud Compresion</th>
        <td mat-cell *matCellDef="let element">{{ element.LongitudComp }}</td>
      </ng-container>

      <ng-container matColumnDef="Carrera">
        <th mat-header-cell *matHeaderCellDef>Carrera</th>
        <td mat-cell *matCellDef="let element">{{ element.Carrera }}</td>
      </ng-container>

      <ng-container matColumnDef="TipoMontajeSup">
        <th mat-header-cell *matHeaderCellDef>TipoMontajeSup</th>
        <td mat-cell *matCellDef="let element">{{ element.TipoMontajeSup }}</td>
      </ng-container>

      <ng-container matColumnDef="DiametroSup">
        <th mat-header-cell *matHeaderCellDef>DiametroSup</th>
        <td mat-cell *matCellDef="let element">{{ element.DiametroSup }}</td>
      </ng-container>

      <ng-container matColumnDef="LongitudSup">
        <th mat-header-cell *matHeaderCellDef>LongitudSup</th>
        <td mat-cell *matCellDef="let element">{{ element.LongitudSup }}</td>
      </ng-container>

      <ng-container matColumnDef="TipoMontajeInf">
        <th mat-header-cell *matHeaderCellDef>TipoMontajeInf</th>
        <td mat-cell *matCellDef="let element">{{ element.TipoMontajeInf }}</td>
      </ng-container>

      <ng-container matColumnDef="DiametroInf">
        <th mat-header-cell *matHeaderCellDef>DiametroInf</th>
        <td mat-cell *matCellDef="let element">{{ element.DiametroInf }}</td>
      </ng-container>

      <ng-container matColumnDef="LongitudInf">
        <th mat-header-cell *matHeaderCellDef>LongitudInf</th>
        <td mat-cell *matCellDef="let element">{{ element.LongitudInf }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>
