.example-container {
    width: 98%;
    height: 95%; /* 90% del alto del viewport */
    margin: 10px;
}

.btnColor{
    background-color: #e5e5e5;
}

.inputInfo{
    width: 80%;
    margin: 10px;
}

.formAncho{
    text-align: center;
    width: 80px;
}

.formEspesor{
    text-align: center;
    width: 80px;
}

.formLadoF{
    text-align: center;
    width: 80px;
}

.formLadoT{
    text-align: center;
    width: 100px;
}