
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
    <mat-form-field class="mx-2">
        <mat-label>Buscar</mat-label>
        <input matInput [formControl]="Buscar">
    </mat-form-field>
    <br>
    <mat-form-field class="mx-2">
        <mat-label>Aplicacion</mat-label>
        <mat-select [formControl]="Aplicacion">
          <mat-option *ngFor="let opcion of aplicaciones" [value]="opcion">{{ opcion }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <br>
    <button class="btn btnColor mx-2" (click)="borrarFiltro()">Delete Selection</button>
    </mat-drawer>
    <mat-drawer-content>
        <table mat-table [dataSource]="dataSource | aplicacionBA:(Aplicacion.value || '')" class="mat-elevation-z8">
        
        <!-- <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.ID }}</td>
        </ng-container> -->

        <ng-container matColumnDef="GABRIEL">
          <th mat-header-cell *matHeaderCellDef>GABRIEL</th>
          <td mat-cell *matCellDef="let element">{{ element.GABRIEL }}</td>
        </ng-container>

        <ng-container matColumnDef="FIRESTONE">
          <th mat-header-cell *matHeaderCellDef>FIRESTONE</th>
          <td mat-cell *matCellDef="let element">{{ element.FIRESTONE }}</td>
        </ng-container>

        <ng-container matColumnDef="GOODYEAR">
          <th mat-header-cell *matHeaderCellDef>GOODYEAR</th>
          <td mat-cell *matCellDef="let element">{{ element.GOODYEAR }}</td>
        </ng-container>

        <ng-container matColumnDef="CONTITECH">
          <th mat-header-cell *matHeaderCellDef>CONTITECH</th>
          <td mat-cell *matCellDef="let element">{{ element.CONTITECH }}</td>
        </ng-container>
        
        <ng-container matColumnDef="Aplicacion1">
          <th mat-header-cell *matHeaderCellDef>Aplicacion 1</th>
          <td mat-cell *matCellDef="let element">{{ element.Aplicacion1 }}</td>
        </ng-container>

        <ng-container matColumnDef="Aplicacion2">
          <th mat-header-cell *matHeaderCellDef>Aplicaion 2</th>
          <td mat-cell *matCellDef="let element">{{ element.Aplicacion2 }}</td>
        </ng-container>

        <ng-container matColumnDef="Aplicacion3">
          <th mat-header-cell *matHeaderCellDef>Aplicacion 3</th>
          <td mat-cell *matCellDef="let element">{{ element.Aplicacion3 }}</td>
        </ng-container>

        <ng-container matColumnDef="OE1">
          <th mat-header-cell *matHeaderCellDef>OE 1</th>
          <td mat-cell *matCellDef="let element">{{ element.OE1 }}</td>
        </ng-container>

        <ng-container matColumnDef="OE2">
          <th mat-header-cell *matHeaderCellDef>OE 2</th>
          <td mat-cell *matCellDef="let element">{{ element.OE2 }}</td>
        </ng-container>

        <ng-container matColumnDef="OE3">
            <th mat-header-cell *matHeaderCellDef>OE 3</th>
            <td mat-cell *matCellDef="let element">{{ element.OE3 }}</td>
        </ng-container>

        <ng-container matColumnDef="Tapa">
          <th mat-header-cell *matHeaderCellDef>Tapa</th>
          <td mat-cell *matCellDef="let element">{{ element.Tapa }}</td>
        </ng-container>

        <ng-container matColumnDef="Membrana">
          <th mat-header-cell *matHeaderCellDef>Membrana</th>
          <td mat-cell *matCellDef="let element">{{ element.Membrana }}</td>
        </ng-container>

        <ng-container matColumnDef="Piston">
          <th mat-header-cell *matHeaderCellDef>Piston</th>
          <td mat-cell *matCellDef="let element">{{ element.Piston }}</td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef>Info</th>
          <td mat-cell *matCellDef="let element">

            <div matTooltip="{{element.info}}">
                <mat-icon fontIcon="info" (click)="toggleInput(element)"></mat-icon>
            </div>
            
            <mat-form-field class="inputInfo" *ngIf="element.mostrarInput">
                <textarea matInput placeholder="Ingrese algo"
                    [(ngModel)]="element.valorInput"
                    (keydown.enter)="guardarYCerrar(element)"
                    (blur)="cerrarInput(element)"
                    autofocus></textarea>
            </mat-form-field>

        </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-drawer-content>
</mat-drawer-container> 