<div class="containerTop">
    <div>
        <button mat-raised-button color="primary" class="btnID" (click)="nuevaPartida()">Nuevo Proveedor</button>
    </div>
</div>

<div class="row mx-5 py-5 d-flex justify-content-center">
    <mat-card class="col-sm-5 py-6 cardPart" *ngFor="let partida of Partidas; let i = index">
        <mat-card-content>
            <mat-card-title>
                <h2>Proveedor {{partida.proveedor}}</h2>
            </mat-card-title>

            <table mat-table *ngIf="partida.datos.length" [dataSource]="partida.datos" class="mat-elevation-z8">
                <ng-container matColumnDef="Seleccion">
                    <th mat-header-cell *matHeaderCellDef>Seleccion</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (change)="addProduct($event,partida.proveedor,element.CLAVE,element.Descripcion)"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Codigo">
                  <th mat-header-cell *matHeaderCellDef> Codigo </th>
                  <td mat-cell *matCellDef="let element"> {{element.CLAVE}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                  <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
