<div class="row mx-5 py-5 d-flex justify-content-center">
    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/semi.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Servicio Pesado</h3>
                <a [routerLink]="['/addSP','add']" class="btn btn-success d-flex justify-content-center">Nuevo</a>
                <a href="/servicioPesado" class="btn btn-warning d-flex justify-content-center mt-1">Editar/Eliminar</a>
                <a (click)="crearPlantilla('SP')" class="btn btn-info d-flex justify-content-center mt-1">Plantilla</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/bolsaaire.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Bolsas de Aire</h3>
                <a [routerLink]="['/addBA','add']" class="btn btn-success d-flex justify-content-center">Nuevo</a>
                <a href="/bolsasdeaire" class="btn btn-warning d-flex justify-content-center mt-1">Editar/Eliminar</a>
                <a (click)="crearPlantilla('BA')" class="btn btn-info d-flex justify-content-center mt-1">Plantilla</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/carro.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Servicio Ligero</h3>
                <a [routerLink]="['/addSL','add']" class="btn btn-success d-flex justify-content-center">Nuevo</a>
                <a href="/servicioLigero" class="btn btn-warning d-flex justify-content-center mt-1">Editar/Eliminar</a>
                <a (click)="crearPlantilla('SL')" class="btn btn-info d-flex justify-content-center mt-1">Plantilla</a>
        </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/muelles.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Muelles</h3>
                <a [routerLink]="['/addMue', 'add']" class="btn btn-success d-flex justify-content-center">Nuevo</a>
                <a href="/menuMuelles" class="btn btn-warning d-flex justify-content-center mt-1">Editar/Eliminar</a>
                <a (click)="crearPlantilla('Muelles')" class="btn btn-info d-flex justify-content-center mt-1">Plantilla</a>
        </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/refaccion.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Refacciones</h3>
                <a [routerLink]="['/addRefa', 'add']" class="btn btn-success d-flex justify-content-center">Nuevo</a>
                <a href="/menuRefacciones" class="btn btn-warning d-flex justify-content-center mt-1">Editar/Eliminar</a>
                <a (click)="crearPlantilla('Refacciones')" class="btn btn-info d-flex justify-content-center mt-1">Plantilla</a>
        </div>
        </div>
    </div>
</div>