<div class="containerTop">
    <div class="formContainer">
        <mat-form-field class="inputID">
            <mat-label>Cantidad</mat-label>
            <input matInput > 
        </mat-form-field>
        <button mat-raised-button color="primary" class="btnID">Añadir</button>
    </div>

    <div class="totalContainer">
        <button mat-raised-button color="primary" class="btnID">PDF Analisis</button>
        <button mat-raised-button color="primary" class="btnID">PDF Vendedor</button>
    </div>
</div>