.inputID{
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;
}

.btnID{
    margin-left: 1%;
    margin-bottom: 1%;
}

.containerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formContainer{
    flex: 1;
}

.totalContainer{
    flex: 0;
    margin-right: 2%;
    margin-top: 2%;
    white-space: nowrap;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    max-height: 75%;
}

.cardPartida{
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin: 10px;
    padding: 15px;
    background-color: #fff;
}