<div class="containerTop">
    <div class="formContainer">
        <mat-form-field class="inputID">
            <mat-label>ID</mat-label>
            <input matInput #IDinput [formControl]="ID"> 
        </mat-form-field>
    
        <mat-form-field class="inputID">
            <mat-label>Cantidad</mat-label>
            <input matInput [formControl]="Cantidad" (keydown.enter)="addProduct()"> 
        </mat-form-field>
    
        <mat-form-field class="inputID" *ngIf="getMoneda() === 'Dolar'">
            <mat-label>Tipo Cambio</mat-label>
            <input matInput [formControl]="Moneda" (keydown.enter)="addProduct()"> 
        </mat-form-field>
    
        <button mat-raised-button color="primary" class="btnID" (click)="addProduct()">Añadir</button>
    </div>

    <div class="totalContainer">
        <p class="fs-2">Total: {{this.total}}</p>
        <p class="fs-2" *ngIf="getMoneda() === 'Dolar'">Total MX: {{this.totalDolares}}</p>
    </div>
</div>

<div class="table-container">
    <table [dataSource]="dataSource" mat-table class="mat-elevation-z8">

        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element">{{ element.Cantidad }}</td>
        </ng-container>

        <ng-container matColumnDef="Codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
        </ng-container>

        <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element">{{ element.Descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="Empaque">
            <th mat-header-cell *matHeaderCellDef>Empaque</th>
            <td mat-cell *matCellDef="let element">{{ element.Empaque }}</td>
        </ng-container>

        <ng-container matColumnDef="P.Lista">
            <th mat-header-cell *matHeaderCellDef>P.Lista</th>
            <td mat-cell *matCellDef="let element">${{ element.PLista }}</td>
        </ng-container>

        <ng-container matColumnDef="Descuento">
            <th mat-header-cell *matHeaderCellDef>Descuento</th>
            <td mat-cell *matCellDef="let element">{{ element.Descuento }}%</td>
        </ng-container>

        <ng-container matColumnDef="Costo">
            <th mat-header-cell *matHeaderCellDef>Costo</th>
            <td mat-cell *matCellDef="let element">${{ element.Costo }}</td>
        </ng-container>

        <ng-container matColumnDef="Importe">
            <th mat-header-cell *matHeaderCellDef>Importe</th>
            <td mat-cell *matCellDef="let element">${{ element.Importe }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<div class="btn-finish">
    <button mat-raised-button color="primary" class="btnID" (click)="addProduct()">Añadir</button>
</div>