<div class="row mx-5 py-5 d-flex justify-content-center">
    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/refaccion.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Herramientas Cotizador</h3>
                <a [routerLink]="['/cotizadores', 'Herramientas']" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/muelles.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Muelles Cotizador</h3>
                <a [routerLink]="['/cotizadores', 'Muelles']" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2 py-4">
        <div class="card mb-3">
            <img src="assets/tornillo.png" class="card-img-top py-2" alt="...">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center fw-bolder">Tornilleria Cotizador</h3>
                <a [routerLink]="['/cotizadores', 'Tornilleria']" class="btn btn-primary d-flex justify-content-center">Ver Mas</a>
            </div>
        </div>
    </div>
</div>