<div class="row mx-5 py-5 d-flex justify-content-center">
    <div class="col-sm-2 py-4" *ngFor="let prov of dataSource">
        <div class="card">
            <h2 class="card-header">{{ prov.NombreProv }}</h2>
            <div class="card-body">
                <div class="card-text">Fecha de Modificacion: </div>
                <div class="card-text">{{prov.fechaModificacion}}</div>
                <a [routerLink]="['/cotizador', prov.NombreProv ,prov.TablaProv]" mat-raised-button color="primary" class="d-flex justify-content-center" (click)="setMoneda(prov.TipoMoneda)">
                    <mat-icon>attach_money</mat-icon>
                    Cotizar
                </a>
            </div>
        </div>
    </div>
</div>