<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
    <mat-form-field class="mx-2">
        <mat-label>Buscar</mat-label>
        <input matInput [formControl]="Buscar" />
    </mat-form-field>
    <br />
    <mat-form-field class="mx-2">
        <mat-label>Marca</mat-label>
        <mat-select [formControl]="Marca">
        <mat-option *ngFor="let opcion of marcas" [value]="opcion">{{
            opcion
        }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field class="mx-2">
        <mat-label>Submarca</mat-label>
        <mat-select [formControl]="Submarca">
          <mat-option *ngFor="let opcion of submarcas" [value]="opcion">{{
            opcion
            }}</mat-option>
        </mat-select>
        </mat-form-field>
    <br />
    <mat-form-field class="mx-2">
        <mat-label>Modelo</mat-label>
        <mat-select [formControl]="Modelo">
        <mat-option *ngFor="let opcion of modelos" [value]="opcion">{{
            opcion
        }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field class="mx-2">
        <mat-label>Año</mat-label>
        <mat-select [formControl]="Anio">
        <mat-option *ngFor="let opcion of anios" [value]="opcion">{{
            opcion
        }}</mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <button class="btn btnColor mx-2" (click)="borrarFiltro()">
        Delete Selection
    </button>
    </mat-drawer>

    <mat-drawer-content>
    <table
        mat-table
        [dataSource]="dataSource | marca:(Marca.value || '') | modelo:(Modelo.value || '') | submarca:(Submarca.value || '')" class="mat-elevation-z8">
        <!-- <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.ID }}</td>
        </ng-container> -->

        <ng-container matColumnDef="MarcaAuto">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.MarcaAuto }}</td>
        </ng-container>

        <ng-container matColumnDef="Submarca">
        <th mat-header-cell *matHeaderCellDef>Submarca</th>
        <td mat-cell *matCellDef="let element">{{ element.Submarca }}</td>
        </ng-container>

        <ng-container matColumnDef="Referencia">
        <th mat-header-cell *matHeaderCellDef># Parte</th>
        <td mat-cell *matCellDef="let element">{{ element.Referencia }}</td>
        </ng-container>

        <ng-container matColumnDef="Modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.Modelo }}</td>
        </ng-container>

        <ng-container matColumnDef="AnoInicio">
        <th mat-header-cell *matHeaderCellDef>Año inicio</th>
        <td mat-cell *matCellDef="let element">{{ element.AnoInicio }}</td>
        </ng-container>

        <ng-container matColumnDef="AnoFinal">
        <th mat-header-cell *matHeaderCellDef>Año final</th>
        <td mat-cell *matCellDef="let element">{{ element.AnoFinal }}</td>
        </ng-container>

        <ng-container matColumnDef="Marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.Marca }}</td>
        </ng-container>

        <ng-container matColumnDef="Posicion">
        <th mat-header-cell *matHeaderCellDef>Posicion</th>
        <td mat-cell *matCellDef="let element">{{ element.Posicion }}</td>
        </ng-container>

        <ng-container matColumnDef="Tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{ element.Tipo }}</td>
        </ng-container>

        <ng-container matColumnDef="LongExp">
        <th mat-header-cell *matHeaderCellDef>Longitud Expandida (mm)</th>
        <td mat-cell *matCellDef="let element">{{ element.LongExp }}</td>
        </ng-container>

        <ng-container matColumnDef="LongComp">
        <th mat-header-cell *matHeaderCellDef>Longitud Comprimida (mm)</th>
        <td mat-cell *matCellDef="let element">{{ element.LongComp }}</td>
        </ng-container>

        <ng-container matColumnDef="Carrera">
        <th mat-header-cell *matHeaderCellDef>Carrera</th>
        <td mat-cell *matCellDef="let element">{{ element.Carrera }}</td>
        </ng-container>

        <ng-container matColumnDef="MontSup">
        <th mat-header-cell *matHeaderCellDef>Montaje Superior</th>
        <td mat-cell *matCellDef="let element">{{ element.MontSup }}</td>
        </ng-container>

        <ng-container matColumnDef="MontInf">
        <th mat-header-cell *matHeaderCellDef>Montaje Inferior</th>
        <td mat-cell *matCellDef="let element">{{ element.MontInf }}</td>
        </ng-container>

        <ng-container matColumnDef="MONROE">
        <th mat-header-cell *matHeaderCellDef>MONROE</th>
        <td mat-cell *matCellDef="let element">{{ element.MONROE }}</td>
        </ng-container>

        <ng-container matColumnDef="GRC">
        <th mat-header-cell *matHeaderCellDef>GRC</th>
        <td mat-cell *matCellDef="let element">{{ element.GRC }}</td>
        </ng-container>

        <ng-container matColumnDef="KYB">
        <th mat-header-cell *matHeaderCellDef>KYB</th>
        <td mat-cell *matCellDef="let element">{{ element.KYB }}</td>
        </ng-container>

        <ng-container matColumnDef="BOGE">
        <th mat-header-cell *matHeaderCellDef>BOGE</th>
        <td mat-cell *matCellDef="let element">{{ element.BOGE }}</td>
        </ng-container>

        <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef>Info</th>
        <td mat-cell *matCellDef="let element">
            <div matTooltip="{{ element.info }}">
            <mat-icon fontIcon="info" (click)="toggleInput(element)"></mat-icon>
            </div>

          <mat-form-field class="inputInfo" *ngIf="element.mostrarInput">
            <textarea
                matInput
                placeholder="Ingrese algo"
                [(ngModel)]="element.valorInput"
                (keydown.enter)="guardarYCerrar(element)"
                (blur)="cerrarInput(element)"
                autofocus
            ></textarea>
            </mat-form-field>
        </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    </mat-drawer-content>
</mat-drawer-container>
